html,body{
	font-family: '微软雅黑' !important;
	background: #f5f5f5 !important;
	font-size: 12px !important;
}
.font{
	font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.content{
	width: 1200px;
	margin: auto;
	position: relative;
}
a{
	text-decoration: none;
}
.index .logo{
	margin-left: 10px;
}
.index .login-register{
	margin-right: 10px;
}
.page-container .logo{
	margin-left: 300px;
}
.game .logo,.show .logo{
	margin-left: 120px !important;
}
.page-container .login-register{
	margin-right: 330px;
}
.game .login-register,.show .login-register{
	margin-right: 200px !important;
}
.section01 {
    width: 100%;
    height: 520px;
    /*background: url(../images/banner.png) no-repeat center;*/
    /*background-size: cover;*/
}
.banner{
	/*width: 1385px;
    height: 587px;*/
	width: 100%;
    display: block;
    left: 50%;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    position: absolute;
}
.none{
	height: 78px;
}
.nav{
/*	width: 1200px;*/
	height: 54px;
	background: #00a5ca;
	position: relative;
}
.nav-list li{
	float: left;
	line-height: 52px;
	padding: 0 15px;
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.nav-list li:hover{
	background: #64b8ca;
}
.nav-list li:hover a{
	text-decoration: none;
}
.nav-list li a{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.logo{
	width: 66px;
	height: 17px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}
.login-register{
	position: absolute;
	right: 0;
	top: 16px;
}
.login-register i{
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #fff;
	margin: 0 6px;
	vertical-align: -1px;
}
.login-register a{
	font-size: 12px;
	color: #fff;
}
.login-register a:hover{
	color: #00a5ca;
}
.recommend-lef,.recommend-rig{
	height: 460px;
	margin-top: 15px;
	background: #fff;
	overflow:hidden;
}
.recommend-lef{
	width: 370px;
	float: left;
	overflow:hidden;
}
.recommend-rig{
	width: 818px;
	float: right;
}
.rec-title{
	width: 345px;
	margin: auto;
	margin-top: 15px;
}
.title{
	width: 100%;
	height: 27px;
	margin: auto;
	border-bottom: 1px solid #00a5ca;
}
.title span{
	width: 115px;
	height: 26px;
	display: inline-block;
	border-radius: 7px 7px 0px 0px;
	background: #00a5ca;
	font-size: 16px;
	line-height: 26px;
	cursor: pointer;
}
.section03 .sub_tab,.index-video-box .sub_tab,.index-live-box .sub_tab,.show-type-box .sub_tab{
	background: none;
}
.section03 .index_sub_tab{
	background: none;
	border: 1px solid #cdcdd1;
	color: #65656c;
	border-bottom: none;
}
.title span img{
	margin: 4px 8px;
	vertical-align: top;
}
.more{
	font-size: 14px;
	color: #00a5ca;
	float: right;
	font-weight: bold;
	line-height: 27px;
}
.more:hover{
	text-decoration: none;
	color: #00a5ca;
}
.list-box{
	width: 345px;
	margin: auto;
}
.list-box ul li p,.list-box ul,.list-box-tit{
	margin-bottom: 0 !important;
}
.list-box ul li{
	margin-top: 6px;
	position: relative;
}
.list-box ul li+li{
	margin-top: 5px;
}
.list-box-tit{
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #00a5ca;
	text-align: center;
	border-bottom: 1px solid #959698;
}
.news-tit{
	width: 325px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px solid #959698;
}
.news-tit span,.news-tit a{
	color: #4c454b;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 6px;
    display: inline-block;
}
.news-tit a:hover{
	color: #00a5ca;
	text-decoration: none;
}
.news-tit a{
	font-size: 14px;
}
.news-view a{
	font-size: 14px;
	color: #4c454b;
}
.news-view .article-title a{
	font-family: "Microsoft Yahei";
	font-size: 22px;
	margin: 0 0 5px;
	font-weight: 700;
}
.news-view .article-content{
	margin: 15px 0;
}
.rig{
	position: absolute;
	right: 0;
	margin-top: -20px;
}
.desc .txt{
	width:282px;
	height: 36px;
	overflow:hidden;
	color: #4c454b;
	font-size: 12px;
	margin: 5px 20px 5px 0px;
	float: right;
}
.hot{
	float: left;
	margin-left: 20px;
	margin-top: 8px;
}
.star-title{
	width: 790px;
	margin: auto;
	margin-top: 15px 
}
.star-live-box{
	width: 750px;
	height: 360px;
	margin: auto;
	margin-top: 17px;
	overflow:hidden;
	position: relative;
}
.star-live-box .left,.star-live-box .rig{
	width: 370px;
	height: 290px;
	position: absolute;
}
.star-live-box .left{
	left: 0;
}
.star-live-box div{
	border-radius: 10px;
}
.star-live-box .rig{
	right: 0;
	margin-top: 0;
}
.star-live-box .live-lef,.star-live-box .live-lef{
	height: 100%;
	background: #99dbea;
}
.star-live-box .live-lef{
	width: 240px;
	height: 240px;
	float: left;
	position: relative;
}
.star-live-box .live-lef img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.star-live-box .live-rig{
	width: 120px;
	height: 240px;
	float: right;
}
.live-minbox+.live-minbox{
	margin-top: 3px;
}
.live-minbox,.down-live div{
	width: 118px;
	height: 118px;
	background: #99dbea;
	position: relative;
}
.live-minbox img,.down-live img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.live-minbox+.live-minbox{
	/*margin-top: 5px;*/
}
.tips,.tips01{
	width: 65px;
	height: 20px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 15px;
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	background: rgba(0,0,0,0.4);
}
.tips01{
	width: 57px;
	right: 5px;
	top: 5px;
}
.tips i,.tips01 i{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-left:5px; 
	margin-right:5px; 
	display: inline-block;
	background: #e62914;
}
.down-live div{
	float: left;
	margin-top: 5px;
	background: #99dbea;
}
.down-live div+div{
	margin-left: 7px;
}
.banner1{
	width: 100%;
	height: 112px;
	margin-top: -10px;
	z-index: 9;
}
.game-live-box{
	width: 920px;
	height: 453px;
	float: left;
	background: #fff;
	margin-top: 30px;
	overflow:hidden;
}
.level-box{
	width: 270px;
	height: 453px;
	background: #fff;
	float: right;
	margin-top: 30px;
	overflow:hidden;
}
.game-live-title{
	width: 890px;
	margin: auto;
	margin-top: 20px;
}
.game-live-list ul{
	margin-top: -2px;
	margin-left: -15px;
}
.game-live-list li{
	width: 210px;
	height: 170px;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	list-style: none;
}
.play-ico{
	position: relative;
	border-radius: 10px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.play-ico img{
	width: 100%;
	height: 132px;
	overflow:hidden;
	border-radius: 10px;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.play-icon{
	display: inline-block;
	width: 57px;
	height: 57px;
	background: url(../images/play.png) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	display: none;
}
.play-ico:hover .play-icon{
	display: block;
}
.play-ico:hover{
	width: 100%;
	height: 132px;
	background: rgba(0,0,0,0.4);
}
.game-live-txt{
	width: 100%;
	height: 40px;
	font-size: 0;
}
.game-live-txt .game-title,.game-live-txt .game-type{
	font-size: 14px;
	margin: 3px 0 0 0;
	font-weight: bold;
	overflow:hidden;
}
.game-live-txt .game-title{
	width: 65%;
	color: #4c454b;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.game-live-txt .game-type{
	color: #00a5ca;
	float: right;
	width: 35%;
	text-align: right;
}
.game-live-txt .game-name,.game-live-txt .game-hot{
	font-size: 12px;
	color: #4c454b;
	width: 50%;
	overflow:hidden;
}
.game-live-txt .game-name{
	float: left;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.game-live-txt .game-hot{
	color: #4c454b;
	float: right;
	text-align: right;
}
.game-live-txt .game-hot img{
	margin-right: 5px;
	vertical-align: -2px;
}
.level-box-title,.level-list{
	width: 250px;
	margin: auto;
}
.level-list ul{
	margin-top: 10px;
}
.level-box-title{
	margin-top: 20px;
}
.level-list li{
	width: 100%;
	height: 40px;
	position: relative;
}
.level-list-li{
	width: 188px;
	position: absolute;
	top: 0;
	font-size: 0;
	left: 27px;
}
.min-live-list{
	width: 40px;
	height: 40px;
	border-radius: 5px;
	float: left;
	cursor: pointer;
	position: relative;
	background: #99dbea;
}
.level-list li{
	margin-top: 3px;
}
.min-live-list img{
	width: 100%;
	height: 100%;
}
.min-live-list i{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	background: url(../images/min_mask.png) no-repeat center;
	top: 0;
	left: 0;
	/*opacity: 0;*/
}
.min-live-list img{
	border-radius:5px;
}
.min-live-list:hover i{
	opacity: 1
}
.min-live-txt{
	float: left;
}
.min-live-txt p{
	color: #2a2629;
	font-size: 14px;
	margin-bottom: 0 !important;
	font-weight: bold;
	margin-left: 10px;
}
.min-live-txt span{
	font-size: 12px;
	color: #4c454b;
	margin-left: 10px;
}
.level-list li .rig{
	top: 29px;
    right: 4px;
}
.level-list li>span{
	font-size: 14px;
	color: #00a5ca;
	font-weight: bold;
	margin-top: 12px;
    display: block;
    position: absolute;
    margin-left: 2px;
}
.level-list li>span.one{
	font-size: 24px;
	margin-top: 3px;
}
.welfare-video,.class-box{
	width: 920px;
	height: 690px;
	float: left;
	margin-top: 30px;
}
.banner2{
	width: 920px;
	height: 112px;
}
.banner3,.activity-box{
	width: 270px;
	height: 331px;
	float: right;
	margin-top: 30px;
}
.banner3 img,.banner2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.welfare-box{
	width: 220px;
	height: 570px;
	background: #fff;
	margin-top: 30px;
}
.index-video-box{
	width: 690px;
	height: 570px;
	background: #fff;
	margin-top: 30px;
}
.index-video-box .min-cont span.sub_tab{
	margin-top: 0;
	height: 26px;
	line-height: 26px;
}
.index-video-box{
	float: left;
}
.welfare-box{
	float: right;
}
.index-video-box .min-cont{
	width: 660px;
	margin: auto;
	height: 545px;
	overflow:hidden;
	margin-top: 20px;
}
.min-cont{
	width: 220px;
	margin: auto;
	height: 550px;
	overflow:hidden;
	margin-top: 20px;
}
.min-cont .title span img{
	vertical-align: bottom;
}
.min-cont .game-live-list li{
	width: 210px;
	height: 170px;
	margin-left: 15px;
	margin-top: 4px;
	overflow:hidden;
}
.min-cont .game-live-list ul{
	margin-left: -15px;
	margin-top: 10px;
}
.min-cont .game-live-txt .game-title, .min-cont .game-live-txt .game-type{
	margin: 5px 0 0 0;
}
.min-cont .game-live-txt .game-title{
	width: 60%;
	font-size: 12px;
}
.min-cont .game-live-txt .game-hot{
	width: 40%;
	font-size: 12px;
	margin: 5px 0 0 0;
	overflow:hidden;
}
.min-cont .play-ico img,.min-cont .play-ico:hover{
	height: 132px;
}
.min-cont .game-live-txt{
	height: auto;
}
.welfare-img img{
	width: 295px;
	height: 115px;
	margin-top: 14px;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.class-box,.activity-box{
	background: #fff;
	height: 530px;
}
.class-box-cont{
	width: 890px;
	margin: auto;
	margin-top: 20px;
}
.class-box-list li{
	float: left;
	margin-top: 5px;
	margin-left: 15px;
}
.class-box-list li:hover p{
	color: #00a5ca;
}
.class-box-list li:hover a{
	text-decoration: none;
}
.class-box-list li img{
	width: 135px;
	height: 202px;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
	border-radius: 10px;
}
.class-box-list{
	margin-left: -15px;
	margin-top: 10px;
}
.class-box-list li p{
	text-align: center;
	font-size: 14px;
	color: #4c454b;
	margin: 3px auto;
	font-weight: bold;
	width: 122px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.activity-box-min{
	width: 250px;
	margin: auto;
	margin-top: 20px;
}
.activity-list{
	margin-top: 10px;
}
.activity-list li{
	margin-top: 11px;
}
.activity-list img{
	width: 100%;
	height: 107px;
	border-radius: 10px;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.activity-type-box .recruit_logo {
	border: 1px solid #e4e4e4;
	background: #f7f7f7;
	padding: 20px;
	margin-bottom: 25px;
}
.activity-type-box .recruit_area {
	border-top: 1px solid #ebebeb;
	padding: 27px 0 0 0;
	word-wrap: break-word;
}
.activity-type-box .recruit_logo_left span.first {
	padding-right: 40px;
}
.activity-type-box .recruit_logo_left_main span {
	font-size: 14px;
	color: #a0a0a0;
}
.activity-type-box .recruit_logo_left_main strong {
	font-weight: normal;
	font-size: 14px;
	color: #707070;
}
.activity-type-box .recruit_logo_right .zhubo_apply {
	display: block;
	width: 195px;
	height: 45px;
	background: #ff6600;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	line-height: 45px;
	text-indent: 3em;
}
.activity-type-box .recruit_logo_right {
	padding-top: 24px;
}
.activity-type-box .recruit_logo_left {
	width: 830px;
}
.activity-type-box .recruit_main{
	margin-top: 20px;
}
.activity-type-box .zhubo_apply_icon_r {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid #fff;
	border-bottom: 5px solid transparent;
	display: inline-block;
	margin-left: 10px;
}
.footer{
	width: 100%;
	height: 440px;
	background: #363636;
	overflow: hidden;
}
.footer-cont{
	width: 733px;
	margin: auto;
	margin-top: 70px;
}
.footer-top-left{
	float: left;
	width: 50%;
	border: 1px solid green;
}
.footer-top-right{
	float: right;
	width: 50%;
	border: 1px solid green;
}
.activity-imgBox{
	margin-top: 77px;
}
.actimg-top-left,.actimg-top-left .swiper-container{
	width: 665px;
	height: 238px;
	float: left;
	overflow: hidden;
}
.actimg-top-left .swiper-pagination{
	position: absolute;
	bottom: 12px !important;
}
.actimg-top-left .swiper-pagination-bullet{
	width: 26px;
	height: 6px;
	background: #fff;
	border-radius: 0;
	opacity: 1;
}
.actimg-top-left .swiper-pagination-bullet-active{
	background: #1aa5c8;
}
.actimg-top-left img,.activity-rig-list li img,.activity-list-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.actimg-top-left .swiper-slide p{
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	width: 95%;
    bottom: 22px;
    left: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
}
.actimg-top-right{
	width: 525px;
	height: 238px;
	float: right;
	float: right;

}
.activity-rig-list{
	margin-top: -15px;
	margin-left: -10px;
}
.activity-rig-list li{
	float: left;
	width: 238px;
	height: 112px;
	margin-top: 15px;
	margin-left: 10px;
}
.activity-type-nav{
	padding: 5px 10px;
	border: 1px solid #c5c5c9;
    display: inline-block;
    color: #65656c;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
}
.activity-type-nav a{
    color: #65656c;
}
.activity-type-nav+.activity-type-nav{
	margin-left: 10px;
}
.act{
	background: #1aa6c8;
	color: #fff !important;
	border: none !important;
}
.act a{
    color: #fff !important;
}
.tougao{
	color: #74747a;
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin-top: 30px;
}
.tougao:hover{
	color: #1aa6c8;
	text-decoration: none;
}
.activity-list-type{
	width: 100%;
	height: 153px;
	border-radius: 20px;
	border: 1px solid #c5c5c9;
	margin-top: 20px;
	position: relative;
}
.activity-list-img{
	float: left;
	width: 200px;
	height: 105px;
	margin: 24px;
}
.activity-list-text{
	float: left;
	width: 590px;
	height: 115px;
	overflow: hidden;
	margin-top: 24px;
}
.activity-list-text p{
	font-size: 16px;
	color: #4c454b;
	font-weight: bold;
	margin: 0;
}
.activity-list-text p+p{
	margin-top: 5px;
}
.activity-list-text>div{
	font-size: 12px;
	color: #4c454b;
	font-weight: bold; 
	margin-top: 10px;
}
.act-more{
	position: absolute;
	right: 0;
	top: 0;
}
.page {
    width: 100%;
    height: 33px;
    margin: 75px auto 45px auto;
    text-align: center;
}
.page li{
    display: inline-block;
}
.page li{
    font-size: 14px;
    border: 1px solid #e5e5e5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    margin: 0px 3px;
}
.page .prev,.page .next{
	width: 60px;
}
.page .first,.page .last{
	width: 50px;
}
.page li a,.page li span{
     color: #7f8385;
}
.page li:hover{
    background: #1aa5c8;
}
.page li:hover a{
    color: #fff;
    text-decoration: none;
}
.page li.active {
    background: #1aa5c8;
}
.page li.active a{
    color: #fff;
}
.page .next-page{
	width: 60px;
}
.page li input{
	height: 30px;
	width: 50px;
	font-size: 14px;
    border: 1px solid #e5e5e5;
	text-align: center;
	 color: #7f8385;
	 margin: 0 5px;
}
.page .sure{
	width: 50px;
}
.page .go-page{
	border: none;
	width: 105px;
	color: #7f8385;
}
.page .go-page:hover{
	background: none;
}
.grade-box{
	margin-top: 77px;
}
.grade-star{
	color: #1aa5c8;
	font-size: 16px;
	font-weight: bold;
	margin: 15px auto;
	float: left;
}
.grade-time{
	float: right;
	margin-top: 12px;
}
.grade-time span{
	display: inline-block;
	width: 34px;
	height: 31px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #65656c;
	margin: 0 2px;
	cursor: pointer;
	border: 1px solid #c8c8cd;
}
.table{
	width: 100%;
}
.table tr{
	margin-top: 5px;
	/*display: table;
    border-collapse: separate;*/
}
.table td, .table th{
	padding: 3px 0 !important;
	text-align: center;
	border: none !important;
	vertical-align:inherit !important;
}
.table-header{
	width: 100%;
	display: block;
	height: 34px;
	background: #ededed;
}
.tab-live-list{
	width: 90px;
	height: 90px;
	cursor: pointer;
	position: relative;
	margin: auto;
}
.tab-live-list img{
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 5px;
}
.tab-live-list:hover{
	width: 90px;
	height: 90px;
	border-radius: 5px;
	background: rgba(0,0,0,0.4);
}
.tab-live-list:hover>i{
	display: block;
}
.tab-live-list>i{
	display: inline-block;
	position: absolute;
	width: 23px;
	height: 26px;
	left: 50%;
	top: 50%;
	display: none;
	background: url(../images/rig_icon.png) no-repeat center;
	background-size: 100% 100%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.tab-num h3,.tab-num h2,.tab-num h1{
	font-size: 22px !important;
	color: #1aa5c8;
	font-family: '微软雅黑' !important;
	margin:0 !important;
	font-weight:bold  !important; 
}
.tab-one h1{
	font-size: 34px !important;
}
.tab-one h2{
	font-size: 32px !important;
}
.tab-one h3{
	font-size: 30px !important;
}
.tab-num{
	width: 71px;
}
.tab-video{
	width: 90px;
}
.tab-anchor{
	width: 91px;
	color: #1aa5c8;
	font-size: 16px;
	font-weight: bold;
}
.tab-name{
	width: 245px;
	color: #343331;
	font-size: 16px;
	font-weight: bold;
}
.tab-gameName{
	width: 245px;
	color: #343331;
	font-size: 16px;
	font-weight: bold;
}
.tab-score{
	width: 80px;
	font-size: 17px;
	font-weight: bold;
	color: #df3c2f;
}
.tab-live-list .tips{
	width: 60px;
    height: 18px;
    right: 3px;
    top: 5px;
}
.table-nav{
	height: 40px;
	background: #ededed;
	font-size: 16px;
	color: #7f8187;
	font-weight: bold;
}
.video-type-box{
	margin-top: 10px;
	min-height: 700px;
}
.index-video-type-box .show-type-list .game-live-list li{
	width: 214px;
}
.index-video-type-box .title span{
	text-align: center;
}
.video-type-left{
	width: 1005px;
	float: left;
	margin-top: 15px;
}
.video-type-right{
	width: 175px;
	float: right;
	margin-top: 15px;
}
.video-type-left{
	font-size: 0;
}
.video-type-left .font{
	text-align: center;
}
.video-type-left label,.game-live-title .sub_tab,.index-video-box .sub_tab,.index-live-box .sub_tab,.show-type-box .sub_tab{
    height: 27px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    /*background: #00a5ca;*/
    border: 1px solid #cdcdd1;
    font-size: 14px;
    line-height: 27px;
    cursor: pointer;
    text-align: center;
    color: #65656c;
    padding: 0 8px;
    margin-left: 10px;
    margin-top: -8px;
    font-weight: bold;
	border-bottom: 0px;
}
.video-type-list .play-ico img,.video-type-list .play-ico:hover{
	height: 190px;
}
.video-type-list .game-live-list li{
	width: 230px;
    height: 214px;
    position: relative;
	margin-left: 25px;
}
.video-type-list .game-live-list ul{
	margin-left: -25px;
}
.video-type-list .game-live-txt .game-hot{
	width: 35%;
    margin: 5px 0px 0px 0px;
}
.video-type-right .game-live-list li{
	width:175px;
	height: 147px;
}
.video-type-right .game-live-txt .game-title{
	margin: 0;
}
.video-type-right .game-live-txt .game-hot{
	width: 35%;
	margin: 1px 0;
}
.video-type-list b{
	width: 75px;
	height: 27px;
	background: url(../images/tips.png) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	top: 10px;
	right: -6px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding-left: 13px;
	z-index: 8;
}
/*.video-type-left+.video-type-left{
	margin-top: 25px;
}*/
.show-type-box{
	width: 86%;
	margin-left: 260px;
	margin-top: 15px;
}
.show-type-list .game-live-list li{
	height: 245px;
}
.show-type-list .game-live-list li{
	width: 305px;
}
.left-menu{
	width: 252px;
	height: 100%;
	position: fixed;
	top: 53px;
	left: 0;
	z-index: 899
}
.left-menu-cont{
	width: 240px;
	height: 100%;
	float: left;
	background: #2a2a34;
	overflow-y: auto;
}
.shrink,.shrink01{
	float: right;
	margin-top: 175px;
	cursor: pointer;
}
.left-menu-list,.left-menu-class{
	margin-left: 13px;
}
.left-menu-list li{
	margin-top: 11px;
	cursor: pointer;
}
.left-menu-list span{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}
.left-menu-list b img{
	vertical-align: text-bottom;
}
.left-menu-class h3{
	color: #88898e;
	font-weight: bold;
	font-size: 18px;
	margin: 17px 0 5px 0;
}
.left-menu-class .span{
	margin-top: -5px;
}
.left-menu-class .span span,.left-menu-bottom a{
	display: inline-block;
	width: 65px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	background: #373741;
}
.left-menu-class .span span,.left-menu-class .span  a{
	color: #b0b0b7;
	cursor: pointer;
	margin-top: 10px;
	white-space: nowrap;
	overflow: hidden;
}
.left-menu-class .span span:hover{
	color: #fff;
	background: #00a5ca;
}
.left-menu-bottom{
	width: 95%;
	height: 80px;
	text-align: center;
	background: #060608;
	position: absolute;
	bottom: 80px;
	/*margin-top: 20px;*/
}
.left-menu-bottom a{
	color: #fff;
	margin-top: 15px;
	line-height: 20px;
}
.left-menu-bottom p{
	color: #b0b0b7;
	font-size: 12px;
	text-align: left;
    margin-left: 36px;
    margin-top: 10px;
}
.left-menu-bottom a:hover{
	color: #1aa5c8;
	text-decoration: none;
	background: #060608;
	border: 1px solid #1aa5c8;
}
.game-list-img{
	/*margin: 15px 0;*/
	margin-left: 260px;
}

.index-game-list-img a>img{
	width: 598px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.index-live-box{
	background: #fff;

}
.index-live-box .title{
	width: 100%;
	height: 27px;
	margin: auto;
	border-bottom: 1px solid #00a5ca;
}
.index-live-box-cont{
	margin: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	width: 1170px;
	padding-top: 20px;
}
.game-list-img a>img{
	width: 49%;
	height: 110px;
	margin-top: 20px;
}
.game-list-img a+a{
	margin-left: 15px;
}
.news-box-cont{
	margin-top: 77px;
}

.news-left-box{
	width: 910px;
	float: left;
}
.news-right-box{
	width: 275px;
	float: right;
}
.news-right-top{
	height: 375px;
}
.news-li{
	width: 100%;
	height: 37px;
	margin: 8px 0 0px 0;
	overflow: hidden;
	position: relative;
}
.news-li span.news-num{
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	background: #bbbbc6;
	color: #fff;
	margin-top: 5px;
}
.news-li span.news-cur{
	background: #ffc721;
}
.news-tit-txt{
	float: left;
	margin-left: 10px;
}
.news-tit-txt p,.news-tit-txt span{
	width: 155px;
	display: block;
	font-weight: bold;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	margin: 0;
}
.news-tit-txt p{
	color: #2a2629;
	font-size: 14px;
}
.news-tit-txt span{
	color: #4c454b;
	font-size: 12px;
}
.news-li label{
	position: absolute;
	right: 0;
	font-size: 12px;
	color: #c1c1c1;
}
.news-right-img img{
	width: 100%;
	height: 383px;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.contact-us>span{
	display: block;
	color: #2a2629;
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
}
.contact-us>span i{
	width: 4px;
	height: 13px;
	background: #4cb1ce;
	display: inline-block;
	margin: 0 5px;
	vertical-align: -2px;
}
.contact-us>p{
	color: #2a2629;
	font-size: 12px;
	font-weight: bold;
	margin-top: 8px;
}
.contact-us ul li{
	float: left;
	margin: auto;
}
.contact-us ul li img{
	margin:5px 10px;
}
.contact-us ul li p{
	font-size: 12px;
	text-align: center;
	margin: 0;
}
.erweima{
	/*margin-top: 20px;*/
}
.erweima img{
	width: 65px;
	height: 67px;
	float: left;
}
.erweima-txt{
	float: right;
	width: 150px;
}
.erweima-txt p{
	font-size: 13px;
	font-weight: bold;
	color: #2a2629;
	margin: 0;
}
.erweima-txt p span{
	color: #4cb1ce;
}
.erweima-txt>span{
	color: #2a2629;
	font-size: 12px;
	display: block;
	margin-top: 10px;
}
.news-banner-rig{
	width: 460px;
	float: left;
}
.news-list-img{
	width: 267px;
	float: right;
}
.news-list-img a img{
	width: 100%;
	height: 125px;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.news-list-img a+a{
	margin-top: 10px;
	display: block;
}
.news-banner-rig, .news-banner-rig .swiper-container{
	width: 634px;
	height: 260px;
}
.label label{
	font-size: 12px;
	display: inline-block;
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #373741;
	color: #d3d3df;
	border-radius: 3px;
	margin-left: 5px;
	margin-top: 3px;
}
.label label a{
	color: #d3d3df;
}
.label span{
	color: #88898e;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0;
	display: inline-block;
	margin-right: 5px;
}
.news-latest-img{
	float: left;
}
.news-latest-img img{
	width: 220px;
	height: 115px;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.news-latest-txt>p span{
	font-size: 14px;
	color: #4c454b;
	font-weight: bold;
/*	margin-right: 24px;*/
}
.news-latest-txt{
	float: right;
    width: 675px;
}
.news-latest-list{
	margin-top: 40px;
}
.news-latest-txt>p{
	font-size: 20px;
	font-weight: bold;
	color: #4c454b;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}
.news-latest-txt label{
	font-size: 12px;
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #65656c;
    border: 1px solid #c4c4c8;
    margin-top: 8px;
	margin-right: 2px;
}
.time{
	color: #c1c1c1;
	font-size: 12px;
	display: block;
	margin-top: 5px;
}
.time img{
	margin-right: 10px;
	margin-top: -2px;
}
.txt01{
	font-size: 12px;
	color:#4c454b;
	margin-top: 5px;
}
.footer{padding:20px 0px 70px 0;background-color:#363636;margin-top:100px;}
.copyright{ width:900px; margin:0 auto; text-align:center; border-top:1px solid #303030; padding-top:20px;}
.copyright p,.copyright p a{ line-height:24px; color:#999;}
.last_about{ width:900px; margin:0 auto; border-bottom:1px solid #303030; padding-bottom:30px;}
.last_about h4{ height:26px; line-height:26px; font-size:14px; font-weight:bold; color:#ddd;}
.link_us{ width:500px;}
.link_us ul li{ width:250px; float:left; height:40px; line-height:40px; font-size:12px; color:#bbb; margin-top:10px;}
.link_us ul li i{ width:40px; height:40px; display:block; float:left; margin-right:10px; background-image:url(../images/shab.png); background-repeat:no-repeat; background-color:#474747; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}
.link_us ul li i.weixin{ background-position:0 0;}
.link_us ul li i.qq{ background-position:-40px 0;}
.link_us ul li i.mail{ background-position:-80px 0;}
.link_us ul li i.phone{ background-position:-120px 0;}
.app_download{ width:400px;}
.app_download .app_box{ position:relative; padding-top:10px;}
.app_download .app_box img{ width:90px; height:90px; display:block; position:absolute; top:10px; left:0;}
.app_download .app_box p{ line-height:24px; margin-left:110px; color:#bbb;}
.app_download .app_box a{ width:100px; height:34px; line-height:34px; text-align:center; font-size:14px; color:#fff; background-color:#585858; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-left:110px; display:block; margin-top:8px;}
.app_download .app_box a:hover{ background-color:#1aa5c8; text-decoration:none;}
.link_friend a{ color:#bbb; margin-right:20px; line-height:24px;}
.link_friend a:hover{color: #fff;}
.nav-cur{
	background: #64b8ca;
}
.shop-box-top{
	width: 1200px;
	height: 124px;
	margin: 22px auto;
	margin-top: 77px;
}
.shop-box-top img,.shop-floor-list img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
}
.shop-class-box{
	width: 1200px;
}
.shop-floor .title .font{
	text-align: center;
}
.shop-floor .title .font i{
	font-style: normal;
	margin-right: 5px;
	font-size: 20px;
}
.shop-floor-img{
	width: 303px;
	height: 195px;
	border-radius: 5px;
}
.shop-floor-list{
	margin-left: -20px;
}
.shop-floor-list li{
	float: left;
	width: 305px;
	height: 255px;
	margin-top: 20px;
	margin-left: 20px;
}
.shop-desc{
	float: left;
	font-size: 0;
}
.shop-desc p{
	margin: 0;
	font-size: 16px;
	color: #4c454b;
	font-weight: bold;
}
.shop-desc p:nth-of-type(1){
	margin-top: 10px;
}
.shop-desc p span{
	font-size: 12px;
	font-weight: initial;
	margin-left: 15px;
}
.shop-btn{
	width: 95px;
	height: 27px;
	background: #1aa5c8;
	border-radius: 15px;
	float: right;
	font-weight: bold;
	text-align: center;
	line-height: 27px;
	margin: 20px 0;
}
.shop-btn a{
	font-size: 15px;
	color: #fff;
}
.shop-btn a:hover{
	color: #fff;
	text-decoration: none;
}
.video-content{
	width: 100%;
	position: relative;
}
.left-menu-min{
	width: 55px;
	position: relative;
	display: none;
}
.left-menu-min ul{
	width: 55px;
	height: 100%;
	top: 53px;
	position: fixed;
	left: 0;
	z-index: 899;
	background: #2a2a34;
}
.shrink01{
	margin-top: 0;
    position: absolute;
    top: 117px;
    right: -11px;
}
.left-menu-min .left-menu-list{
	margin:auto;
}
.left-menu-min .left-menu-list li img{
	display: block;
	margin: auto;
}
.left-menu-min .left-menu-list li:nth-of-type(1){
	margin-top: 17px;
}
.left-menu-min .left-menu-list li{
	border-bottom: 1px solid #151515;
}
.left-menu-min .left-menu-list li+li{
	margin-top: 20px;
}
.left-menu-min .left-menu-list span{
	margin:5px auto 10px auto;
	text-align: center;
	display: block;
}
.content-width{
	width: 100%;
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9990
}
.margin-top{
	margin-top: 54px;
}
.big_pic li img,.small_pic li img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-o-object-fit: cover;
	border-radius: 10px;
}

.bnspic a{display:block;}
.big_pic, .small_pic,.big_rigpic, .small_rigpic{float:left;}
.big_pic, .big_pic a, .big_pic img,.big_rigpic, .big_rigpic a, .big_rigpic img{width:240px;height:240px;}
.big_pic,.big_rigpic{overflow:hidden;position:relative;}
.big_pic li,.big_rigpic li{position:absolute;top:0;left:0;opacity:0;-webkit-transform:scale(0.9);transform:scale(0.4);z-index:-1;transition:all linear 0.2s;}
.big_pic .on,.big_rigpic .on{opacity:1;-webkit-transform:scale(1);transform:scale(1);z-index:1;}
.big_pic a,.big_rigpic a{position:relative;}
.big_pic .txt,.big_rigpic .txt{width:681px;height:46px;line-height:46px;display:block;position:absolute;bottom:0;left:0;color:#BDBDBD;text-align:center;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);transition:all ease .2s;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.small_pic,.small_rigpic{width:118px;position:relative;left:1px;}
.small_pic a, .small_pic img,.small_rigpic a, .small_rigpic img{width:118px;height:118px;}
.small_pic a,.small_rigpic a{padding:1px;transition:all ease .2s;}
.small_pic .on, .small_pic li:hover,.small_rigpic .on, .small_rigpic li:hover{position:relative;z-index:1;}
.small_pic li,.small_rigpic li{width:118px;height:118px;margin:-1px 0 0 -1px;float:left;position: relative;}
.small_pic li:nth-of-type(3),.small_pic li:nth-of-type(4),.small_pic li:nth-of-type(5),
.small_rigpic li:nth-of-type(3),.small_rigpic li:nth-of-type(4),.small_rigpic li:nth-of-type(5){
	float: left;
	position: absolute;
	bottom: -124px;
}
.small_pic li:nth-of-type(1),.small_rigpic li:nth-of-type(1){
	margin-left: 4px;
}
.small_pic li:nth-of-type(2),.small_rigpic li:nth-of-type(2){
	margin-top: 5px;
	margin-left: 4px;
}
.small_pic li:nth-of-type(3),.small_rigpic li:nth-of-type(3){
	left: -238px;
}
.small_pic li:nth-of-type(4),.small_rigpic li:nth-of-type(4){
	left: -119px;
}
.small_pic li:nth-of-type(5),.small_rigpic li:nth-of-type(5){
	left: 0px;
}
.star-livebox-lef,.star-livebox-rig{
	float: left;
	width: 365px;
    height: 366px;
    margin-top: 17px;
    overflow: hidden;
    position: relative;
    margin-left: 17px;
}
.star-livebox-rig{
	float: right;
	margin-right: 15px;
}
.goods-preview {
	width: 500px;
}
.shop-class-view{
	margin-top: 77px;
}
.star-content{
	position:absolute;
	left:0; top:0;
	height:100%;
}
.star-wrap {
    width: 391px;
    float: left;
    margin-right: 8px;
    overflow: hidden;
}
.star-list {
    width: 399px;
    height: 399px;
    position: relative;
    z-index: 1;
    margin: -8px 0 0 -8px;
}
.clear_fix {
    zoom: 1;
}
.star-item.active {
    width: 258px;
    height: 258px;
}
.star-item {
    width: 125px;
    height: 125px;
    float: left;
    position: relative;
    margin: 8px 0 0 8px;
}
.live-flag {
    width: 58px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    position: absolute;
    right: 7px;
    top: 7px;
    background: url(../images/item_mask_bg.png) repeat 0 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.live-flag .live-icon {
    width: 8px;
    height: 8px;
    float: left;
    margin: 7px 0 0 4px;
    background: #e62914;
    border-radius: 50%;
}
.star_box{
	width: 790px;
	float: right;
	margin-right: 13px;
	margin-top: 12px;
}
.star-bd-tabox {
    height: 399px;
    overflow: hidden;
}
.star-bd {
    width: 798px;
    overflow: hidden;
    height: 399px;
    position: relative;
}
.star-item .pic {
    height: 100%;
}
.star-item .pic img {
    width: 100%;
    height: 100%;
}
.goods-ctrl-panel {
	width: 660px;
	padding-left: 60px;
	margin-bottom: 70px;
}
.v-t, .v-top {
	vertical-align: top;
}
.dp-i-block, .dp-ib {
	display: inline-block;
}
.p-r, .p-relative {
	position: relative;
}
.goods-info .goods-name {
	margin: 10px 0 24px;
	font-size: 24px;
	color: #222;
	font-weight: 400;
}
.goods-info .price span {
	font-size: 14px;
	color: gray;
}
.v-b, .v-bottom {
	vertical-align: bottom;
}
.goods-info .price .price-num {
	margin-right: 34px;
	margin-left: 12px;
	font-size: 36px;
	line-height: 36px;
	color: #f66;
}
.goods-ctrl-panel .gift-ctrl-ctnr .spec-ctnr .label {
	width: 50px;
	margin: 9px 10px 0 0;
	color: #7a7a7a;
}
.goods-ctrl-panel .gift-ctrl-ctnr .spec-ctnr .tag-list {
	width: 540px;
}
.f-left {
	float: left;
}
.num-select[_v-6146ea94] {
	height: 34px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background-color: #fff;
}
.v-m, .v-middle {
	vertical-align: middle;
}
.num-select {
	height: 34px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background-color: #fff;
}
.num-select .decrease-btn.disabled, .num-select .decrease-btn.disabled:hover, .num-select .increase-btn.disabled, .num-select .increase-btn.disabled:hover {
	background-color: #f4f5f7!important;
	color: #e0e0e0!important;
}
.num-select .decrease-btn, .num-select .increase-btn {
	width: 34px;
	height: 32px;
	font-size: 20px;
	font-weight: 700;
	color: #6d757a;
	background-color: #f4f5f7;
	border: 0;
	border-radius: 0;
}
.num-select .num-input-ctnr, .num-select .num-input {
	width: 75px;
	height: 32px;
}
.btn-default.colored {
	background-color: #1aa5c8;
	color: #fff;
}
.goods-ctrl-panel .btn-ctrl .btn-default {
	margin-right: 16px;
}
.btn-default {
	height: 34px;
	background-color: #f4f5f7;
	color: #6d757a;
	border: 1px solid #ccd0d7;
	border-radius: 5px;
	font-size: 14px;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.t-c, .t-center {
	text-align: center;
}
.f-clear:after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
}
.goods-ctrl-panel hr {
	margin: 0;
	border-top: 0;
	border-color: #e5e9ef;
}
.goods-ctrl-panel .gift-ctrl-ctnr {
	margin-top: 26px;
}